<?xml version="1.0" encoding="UTF-8"?>
<Events>

    <Timer name="firstSpawnTimer" time="5.0" endTrigger="firstSpawnTrigger"/>
    <Spawn name="firstSpawn" startTrigger="firstSpawnTrigger" count="1"/>

    <Timer name="secondSpawnTimer" startTrigger="firstSpawnTrigger" time="10.0" endTrigger="secondSpawnTrigger"/>
    <Spawn name="secondSpawn" startTrigger="secondSpawnTrigger" count="1"/>

    <Timer name="thirdSpawnTimer" startTrigger="secondSpawnTrigger" time="10.0" endTrigger="thirdSpawnTrigger"/>
    <Spawn name="thirdSpawn" startTrigger="thirdSpawnTrigger" count="1"/>

    <Timer name="forthSpawnTimer" startTrigger="thirdSpawnTrigger" time="10.0" endTrigger="forthSpawnTrigger"/>
    <Spawn name="forthSpawn" startTrigger="forthSpawnTrigger" count="1"/>

</Events>